node_modules
.next
.firebase
.env*
*.json
!package.json
!tsconfig.json
!next.config.js
!next.config.ts
!manifest.json
!manifest-new.json
!serviceAccount.json.example
public/nicphoto
public/sw.js
public/workbox-*.js
dist
build
.antigravity/
